<div class="login-container">
    <div class="login-form">
      <h2>Login</h2>
      <form (ngSubmit)="onLogin()">
        
        <!-- Role Dropdown -->
        <div class="input-group">
          <label for="role">Select Role</label>
          <select id="role" [(ngModel)]="role" name="role" required>
            <option value="Player">Player</option>
            <option value="Employee">Employee</option>
          </select>
        </div>
  
        <!-- Conditional Input for Username or ID -->
        <div class="input-group">
          <input
            *ngIf="role === 'Player'"
            type="text"
            placeholder="Username"
            [(ngModel)]="Username"
            name="username"
            required
          />
          <input
            *ngIf="role === 'Employee'"
            type="number"
            placeholder="Employee ID"
            [(ngModel)]="employeeId"
            name="employeeId"
            required
          />
        </div>
  
        <!-- Password Input -->
        <div class="input-group">
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="Password"
            name="password"
            required
          />
        </div>
  
        <!-- Submit Button -->
        <button type="submit" [disabled]="!Username && !employeeId || !Password || !role">Login</button>
      </form>
    </div>
  </div>
  