<div class="file-list-container">
    <div class="gray-background">
        <div class="toolbar">

            <button (click)="fetchEmployees()" class="group-users-btn">Show Employees</button>
            <div class="modal" *ngIf="isEmployeeModalVisible">
                <div class="modal-content">
                    <span class="close" (click)="closeEmployeeModal()">&times;</span>
                    <h2>Employees</h2>
                    <ul>
                        <li *ngFor="let employee of employees">
                            <strong>{{ employee.username }}</strong> {{ employee.email }}
                        </li>
                    </ul>
                </div>
            </div>

            <button (click)="fetchPlayers()" class="group-users-btn">Show Players</button>
            <button (click)="logout()" class="group-users-btn">Logout</button>
            <div class="modal" *ngIf="isPlayerModalVisible">
                <div class="modal-content">
                    <span class="close" (click)="closePlayerModal()">&times;</span>
                    <h2>Players</h2>
                    <ul>
                        <li *ngFor="let player of players">
                            <strong>{{ player.username }}</strong> {{ player.email }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="feedbacks && feedbacks.length > 0">
            <ul>
                <li *ngFor="let feedback of feedbacks">
                    Sahibi: {{ feedback.playerUsername }} - İçerik: {{ feedback.feedbackContent }}
                    <div [ngClass]="feedback.feedbackType" class="feedback-box">
                        {{ feedback.feedbackType }}
                    </div>
                </li>
            </ul>
        </div>

        <div *ngIf="!feedbacks || feedbacks.length === 0">
            Hiç feedback bulunamadı.
        </div>
    </div>
</div>